body {
    max-width: 1270px;
    background-color: bisque;

    margin: 0 auto;
}

.hero-container {
    display: flex;
    /* vertically center a ante hole  */
    align-items: center;
    gap: 40px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 25px;
    font-size: 1.5em;
}

.hero-container button {
    background-color: rgb(148, 123, 72);
    padding: 10px 20px;
    font-size: 1.05em;
    border-radius: 10px;
    cursor: pointer;
}

.hero-container img {
    height: 580px;
    width: 550px;
    border-radius: 25px;
}