body {
    max-width: 1270px;
    background-color: bisque;

    margin: 0 auto;
}

.card-section{
    text-align: center;
}
.card-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.22);

    text-align: left;
}

.card h3 {
    font-size: 1.2em;
    font-weight: 700;
}

.card button {
    background-color: rgb(148, 123, 72);
    padding: 10px 20px;
    font-size: 1.05em;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    background-color: lightgray;
}